# Env
.env
.env.*

# Node / build
node_modules/
dist/
build/

# Prisma
/generated/
.prisma/
prisma/generated/

# Coverage / tests
coverage/
.nyc_output/

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
.DS_Store

# TypeScript
*.tsbuildinfo
